.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
*.swp
*.un\~
.idea
db
credentials.json
members.json
.env
email.html
members.json
members.yml
members_test.yml
metadata.json
template.html
